.user-info__edit-button{
    position: relative;
    top: 20px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 38px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.user-info__edit-button:focus{
    outline-color: greenyellow;
}